body{
    background-color: #c61708;
}


#cabecalho{
    background-color: black; 
    color: white;
    padding: 5rem;  
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 1rem;
    list-style: none;
}

.menu li a{
    color: white;
    padding: 1rem;  
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
  
}

.menu li a:hover {
    color: #c61708;
    transition: 0.8s;
    cursor: pointer;
}

.secao{
    text-align: center;
    padding: 2rem;
}


.div-pai{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.div-pai div{
    padding: 4rem;
}

.div-pai button{
     padding: 1rem;
     border-radius: 1rem;
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);
}

.div-pai button:hover{
    background-color: beige;
    color: #c61708;
    transition: 0.8s;
}

.div-pai img{
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);
}


img {
    height: auto;
    max-width: 48em;
    display: block;
    margin: 2rem auto;
}

#rodape{
    background-color: black; 
    color: white;
    padding: 5rem;  
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
